<!--
  Este template loads for the 'tab.publicacao-detalhe' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{publicacao.nome}}">
  <ion-content>
      <html>
      
      <body ng-app="start.controllers">
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
        <script type="text/javascript" src="controllers.js"></script>
        

          <div class="item item-avatar">
              <img src="{{publicacao.face}}">
              <h2>{{publicacao.nome}}</h2>
              <p>{{publicacao.data}}</p>
              <img class="full-image" src="{{publicacao.foto}}">
              <p>
                  {{publicacao.descricao}}
              </p>
          </div>
          <div ng-controller="Publica">
              <div>
                  <div ng-repeat="review in reviews">
                      
                      <div id="caixaComment">
                          <textarea id="resposta">{{review.comment}}</textarea>

                      </div>

                  </div>
              </div>

              <form name="reviewForm" ng-submit="addReview()">
                  
                  <div id="post">
                      <textarea id="postcaixa" ng-model="form.comment" placeholder="deixe seu comentario" rows="2" cols="25"></textarea>

                  </div>
                    
                  <input type="submit" value="Comentarios" class="coment" />
              </form>


          </div>
            
      </body>
  </html>
  </ion-content>
   
</ion-view>
