<!--
  Este template loads for the 'tab.publicacao-detalhe' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{publicacao.nome}}">
   <ion-content class="padding">
     
     <div class="list card">
       
        <div class="item item-avatar">
            <img src="{{publicacao.face}}">
            <h2>{{publicacao.nome}}</h2>
            <p>{{publicacao.data}}</p>
        </div>
       
        <div class="item item-body">
            <img class="full-image" src="{{publicacao.foto}}">
            <p>{{publicacao.descricao}}</p>
          
            <p>Comentarios: </p>
            
            <div class="list" ng-repeat="comentario in comentarios track by $index">
               <div class="list list-insert">
                  <div class="item">{{comentario.conteudo}}</div>
              </div>
            </div>
            
              <!-- Area de inserção de comentários. -->
              <ion-item>
                <form>
                  <input type="text" ng-model="comentario">
                    
                  </input>
                  
                  <button type="submit" ng-click="addComentario()" class="button button-block button-positive">
                    Comentar
                  </button>
                </form>
              </ion-item>
            </div>
        </div>
        
     </div>
     <!-- <div class="card item item-avatar">
      <img src="{{publicacao.face}}">
      <h2>{{publicacao.nome}}</h2>
      </div>
      <p>{{publicacao.data}}</p>
      
      <p>
        {{publicacao.descricao}}
      </p>
    </div>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Digite seu comentário"></textarea>
      </label>
      <button class="button button-full button-positive">
        Comentar
      </button>
  
    </div>-->
    </ion-content>
</ion-view>
