<!--
  Este template loads for the 'tab.publicacao-detalhe' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{publicacao.nome}}">
  <ion-content>

    <div class="item item-avatar">
      <img src="{{publicacao.face}}">
      <h2>{{publicacao.nome}}</h2>
      <p>{{publicacao.data}}</p>
      <img class="full-image" src="{{publicacao.foto}}">
      <p>
        {{publicacao.descricao}}
      </p>
    </div>
    <div class="list">
      <ion-item ng-repeat="comment in publicacao.comments">
        <b>{{comment.nome}}</b> {{comment.msg}} (<span am-time-ago="comment.data"></span>)
      </ion-item>
      <form ng-submit="add(comment)">
        <label class="item item-input">
          <textarea placeholder="Digite seu comentário" ng-model="comment.message" ng-enter="add(comment)"></textarea>
        </label>
        <button type="submit" class="button button-block button-positive">Comentar</button>
      </form>
  </ion-content>
    </div>
</ion-view>