<!--
  Este template loads for the 'tab.publicacao-detalhe' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{publicacao.nome}}">
  <ion-content>

    <div class="item item-avatar">
      <img src="{{publicacao.face}}">
      <h2>{{publicacao.nome}}</h2>
      <p>{{publicacao.data}}</p>
      <img class="full-image" src="{{publicacao.foto}}">
      <p>
        {{publicacao.descricao}}
      </p>
    </div>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Digite seu comentário"></textarea>
      </label>
      <button class="button button-full button-positive">
        Comentar
      </button>
  </ion-content>
    </div>
</ion-view>
