<ion-view view-title="Colabore.ufpe">
  <ion-content>

    <div class="list card" ng-repeat="publicacao in publicacoes">

      <div class="item item-avatar">
        <img src="{{publicacao.face}}">
        <h2>{{publicacao.nome}}</h2>
        <p>{{publicacao.data}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{publicacao.foto}}">
        <p>
          {{publicacao.descricao}}
        </p>
        <p>
          <a href="#" class="subdued">1 Apoiador</a>
          <a href="#/tab/publicacoes/{{publicacao.id}}" class="subdued">5 Comentários</a>
          <a href="#" class="subdued">Divulgar</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>