<ion-view view-title="Selecionar imagem">
  <ion-content class="padding">
  <form ng-submit="publicar(post)">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Texto</span>
    <textarea ng-model="post.descricao"></textarea>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Imagem do post (link para .jpg)</span>
    <input type="text" ng-model="post.foto">
  </label>
  <button type="submit" class="button button-block button-positive">Publicar</button>
  </form>
  </ion-content>
</ion-view>