<ion-view view-title="Atividade">
	<ion-content>
	<!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
	  
	  <ion-list class="list list-inset" show-delete="data.showDelete" show-reorder="data.showReorder">

	    <ion-item ng-repeat="item in items" 
	              item="item"
	              class="item-remove-animate">
	      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
	      Item {{ item.id }}
	      <ion-delete-button class="ion-minus-circled" 
	                         ng-click="onItemDelete(item)">
	      </ion-delete-button>
	      <ion-option-button class="button-assertive"
	                         ng-click="edit(item)">
	        Editar
	      </ion-option-button>
	      <ion-option-button class="button-calm"
	                         ng-click="share(item)">
	        Divulgar
	      </ion-option-button>
	    </ion-item>

	  </ion-list>
	</ion-content>
</ion-view>
