<ion-view view-title="Fiscalizar">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Pesquisar">
      </label>
    </div>
    
    <div class="list card" ng-repeat="publicacao in publicacoes">

      <div class="item item-avatar">
        <img src="{{publicacao.face}}">
        <h2>{{publicacao.nome}}</h2>
        <p>{{publicacao.data}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{publicacao.foto}}">
        <p>
          {{publicacao.descricao}}
        </p>
        <p>
          <button ng-click="apoiar({{publicacao}})" class="button button-block button-positive">
            Apoiar
          </button>
          <a href="#/tab/fiscalizar" class="subdued">{{publicacao.apoiadores}} Apoiadores</a>
          <a href="#/tab/fiscalizar/{{publicacao.id}}" class="subdued">5 Comentários</a>
          <a href="#/tab/fiscalizar" class="subdued">Divulgar</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
