<ion-view view-title="Fiscalizar">
  <ion-content class="padding">
    <h1>Bem-vindo</h1>
    <h2>Projeto Colabore.ufpe</h2>
    <h3>
    Este é seu teste prático para front-end do <a href="https://www.ufpe.br/nti/">NTI</a> da <a href="https://www.ufpe.br/">UFPE</a>
    </h3>
    <p>Este projeto foi feito usando o <a href="http://ionicframework.com/">Ionic</a>, um avançado framework HTML5 para aplicativos híbridos móveis.</p>
    <p>
      Edite livremente o conteúdo deste projeto. Na pasta <code>www/templates/</code> você econtra os modelos HTML. Este modelo, por exemplo, encontra-se em <code>www/templates/tab-fiscalizar.html</code>. Além disso você pode editar o arquivo <code>www/css/style.css</code> para personalizar o layout.
    </p>
    <p>
      Toda regra de negócio deve ficar na pasta <code>www/js</code>. Consulte a <a href="http://ionicframework.com/docs/">documentação do Ionic</a> e <a href="https://angularjs.org/">AngularJS</a> para lhe ajudar nesta tarefa.
    </p>
    <p>
    Se você precisar de ajuda com sua aplicação, junte-se a comunidade do Ionic em <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a> ou envie suas dúvidas para nosso e-mail. Siga nosso projeto no <a href="https://github.com/nti-ufpe/colabore">GitHub</a> e a partir dele crie um branch para você.
    </p>
    <p>
      Estamos feliz por você estar participando da nossa seleção, boa sorte.
    </p>
    <p><small>Universidade Federal de Pernambuco<br>Núcleo de Tecnologia da Informação<br>Responsável: Thiago Bezera</small></p>
  </ion-content>
</ion-view>
