<!--
Criar guias com um ícone e etiqueta, usando o estilo de tabs-positive.
Cada tab's filho <ion-nav-view> directiva terá o seu próprio
histórico de navegação, que também faz a transição suas views dentro e 
fora.
-->
<ion-tabs class="tabs-striped tabs-top tabs-icon-top">

  <!-- Fiscalizar Tab -->
  <ion-tab title="Fiscalizar" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/fiscalizar">
    <ion-nav-view name="tab-fiscalizar"></ion-nav-view>
  </ion-tab>

  <!-- Publicar Tab -->
  <ion-tab title="Publicar" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/publicar">
    <ion-nav-view name="tab-publicar"></ion-nav-view>
  </ion-tab>

  <!-- Atividades Tab -->
  <ion-tab title="Atividades" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/atividade">
    <ion-nav-view name="tab-atividade"></ion-nav-view>
  </ion-tab>


</ion-tabs>
